<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="images/cloud.png">
    <script src="app.js"></script>
</head>

<body>
    <div class="main-content"> {{>header}}
        <img class="portrait" src="images\photo-1521121693083-d55966b94443.jfif" alt="">
    </div>

    {{>footer}}
</body>


</html>